footer#main-footer {

	margin-top: 2em;

	.links {
		background-color: $light-grey;
		padding: 2em 0;
		padding-bottom: 0em;

		h3 {
			margin-bottom: 1em;
		}

		.logo {
			text-align: center;

			span.icon {
				font-size: 10em;
				color: white;
			}
		}

		.category {

			margin-bottom: 2em;

			h5 {
				a {
					@include label(
					    $padding:7px 16px 9px,
					    $text-size: 0.8em,
					    $bg: rgba(black, 0.5),
					    $radius:4px
				    );
				}
			}

			ul {
				padding: 0px;
				margin: 0px;

				li {
					list-style: none;

					border-bottom: 1px solid white;
				    display: block;
				    margin-bottom: 1em;

					a {
						font-weight: bold;
					}

					p.meta {
						font-size: 0.8em;
						font-weight: lighter;
					}

					@media #{$medium-up} { 
						&:last-of-type {
							border:  none;
						}
					}
				}
			}
		}
	}

	.branding {
		background-color: $primary-color;
		padding: 2em 0;

		color: white;

		.logo {
			text-align: center;

			padding: 0 1em;

			p {
				margin-bottom: 0.25em;
			}
		}

		.menu-container {

			.menu {

				text-align: center;
				border-bottom: 1px solid rgba(white, 0.2);
				margin-bottom: 1em;
				padding-bottom: 1em;

				@media #{$medium-up} { 
					border-right: 1px solid rgba(white, 0.2);
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}

				h6 {
					color: rgba(white, 0.5);;
					font-weight: lighter;
					text-transform: uppercase;
				}

				&:last-of-type {
					border-right: none;
					border-bottom: none;
					margin-bottom: 0;
				}

				a {
					color: white;

					&.button {
						 @include button(
						    $button-sml,
						    rgba(black, 0.2),
						    false,
						    false,
						    false,
						    false
						  );

						 color: $secondary-color !important;

						 @media #{$small-only} { 
						 	width: 100%;
						 }
					}
				}

				p {
					font-weight: lighter;
					line-height: 1.2em;
					padding: 0.5em 1em;
					font-size: 0.9em;

					&.branding {
						line-height: 1.8em;
					}
				}

				nav {
					text-align: center;
					padding-top: 0.5em;

					a {
						display: block;
						margin-bottom: 0.5rem !important;
					}
				}

				ul {
					margin: 0;
					margin-bottom: 1em;
					padding: 0;
					width: 100%;

					li {
						list-style: none;
					}
				}

				@media #{$small-only} {

					nav a, ul li a {

						margin-bottom: 0.5rem !important;

						@include button(
						    $button-med,
						    rgba(black, 0.2),
						    false,
						    true,
						    false,
						    false
						  );						
					}
				}

				a:hover {
					color: $secondary-color;
				}
			}
		}
	}
}