@font-face {
	font-family: 'rvgn';
	src:url('../typefaces/rvgn.eot?-97tr6p');
	src:url('../typefaces/rvgn.eot?#iefix-97tr6p') format('embedded-opentype'),
		url('../typefaces/rvgn.woff?-97tr6p') format('woff'),
		url('../typefaces/rvgn.ttf?-97tr6p') format('truetype'),
		url('../typefaces/rvgn.svg?-97tr6p#rvgn') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rvgn';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	&.icon-2x {
		font-size: 2em;
	}
	&.icon-push {
		position: relative;
		top: 1px;
	}
	&.icon-logo-large:before {
		content: "\e601";
	}
	&.icon-logo-medium:before {
		content: "\e602";
	}
	&.icon-logo-small:before {
		content: "\e603";
	}
	&.icon-stats:before {
		content: "\e604";
	}
	&.icon-bars:before {
		content: "\e605";
	}
	&.icon-mail:before {
		content: "\e606";
	}
	&.icon-googleplus:before {
		content: "\e607";
	}
	&.icon-facebook:before {
		content: "\e608";
	}
	&.icon-twitter:before {
		content: "\e609";
	}
	&.icon-feed:before {
		content: "\e60a";
	}
	&.icon-vimeo:before {
		content: "\e60b";
	}
}
