aside#sidebar {

	.disclaimer, .light-panel {
		background-color: $light-grey;

		margin-top: 2em;
		margin-bottom: 2em;
		padding: 1em;
		padding-top: 1em;
		padding-bottom: 1em;

		p {
			font-size: 0.75em;
			color: #444;
		}

		a.button {
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}

	.light-panel {
		background-color: #fafafa;
		padding-bottom: 0;
	}

	ul {
		border-top: 1px solid #efefef;
		margin-top: 1em;
	}
}