@import "settings";
@import "navigation/top_bar";

@import "compass";
@import "foundation";
@import "font-awesome/font-awesome";

@import "masthead";
@import "article/post";
@import "article/index";
@import "sidebar";
@import "icons";
@import "branding";
@import "content";


footer#main-footer {

	margin-top: 2em;

	.links {
		background-color: $light-grey;
		padding: 2em 0;

		h3 {
			margin-bottom: 1em;
		}

		.logo {
			text-align: center;

			span.icon {
				font-size: 10em;
				color: white;
			}
		}

		.category {
			h5 {
				a {
					@include label(
					    $padding:7px 16px 9px,
					    $text-size: 0.8em,
					    $bg: rgba(black, 0.5),
					    $radius:4px
				    );
				}
			}

			ul {
				padding: 0px;
				margin: 0px;

				li {
					list-style: none;

					border-bottom: 1px solid white;
				    display: block;
				    margin-bottom: 1em;

					a {
						font-weight: bold;
					}

					p.meta {
						font-size: 0.8em;
						font-weight: lighter;
					}

					@media #{$medium-up} { 
						&:last-of-type {
							border:  none;
						}
					}
				}
			}
		}
	}

	.branding {
		background-color: $primary-color;
		padding: 1em 0;

		color: white;

		.logo {
			text-align: center;

			p {
				margin-bottom: 0.25em;
			}
		}
	}
}