@import "settings";
@import "navigation/top_bar";

@import "compass";
@import "foundation";
@import "font-awesome/font-awesome";

@import "masthead";
@import "article/post";
@import "article/index";
@import "article/cartoon";
@import "sidebar";
@import "icons";
@import "branding";
@import "content";
@import "time";
@import "footer";

h1 {
	&.minimise {
		@include label(
		    $padding: 7px 16px 9px,
		    $text-size: 1em,
		    $bg: rgba(black, 0.5),
		    $radius:4px
	    );

	    margin-bottom: 1em;
	}
}

a.external-link:after {
	content: "\f08e";
	display: inline-block;
    font-family: FontAwesome;
    font-size: 0.7em;
    font-style: normal;
    font-weight: normal;
    margin-left: 2px;
    margin-right: 1px;
}

em, i {
	font-size: 0.95em;
}
