{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
	<div class="author-bio component">
		<p><strong>{{author}}</strong>

		{%if author == "Jamie Foley"%}
		 was raised in the American South on a steady diet of <a href="http://www.quackwatch.com/01QuackeryRelatedTopics/PhonyAds/silverad.html" target="_blank" class="external-link">colloidal silver</a>, cryptozoology, and conspiracy theories. His contrarian curiosity and early passion for science eventually led him to skepticism and rationalism. He now makes his home in Oakland, California as he works on furthering his education and pursuing his interest in biotechnology and genetic engineering. A vegan for a decade, he enjoys exploring the intersections between science, animal rights, and social justice.</p>
		 <p>Jamie blogs at <a href="http://skepticalvegan.com/" class="external-link" target="_blank">skepticalvegan.com</a> and tweets as <a href="https://twitter.com/skepticalvegan" target="_blank" class="external-link">@skepticalvegan</a>.
		{% elsif author == "Rebecca Fox" %}
		is an artist, vegan and skeptic from Brighton, UK.
		{% elsif author == "Rob Johnson" %}
		is a British ethicist, editor of <a href="http://theabolitionist.info/" target="_blank" class="external-link">The Abolitionist</a> and author of the book <a href="http://www.robertjohnson.org.uk/" target="_blank" class="external-link">Rational Morality: A Science of Right and Wrong</a>.
		{% else %}
		is the author of this article
		{%endif%}
		</p>
	</div>
{% endif %}
