{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
	<div class="author-bio component">
		<p><strong>{{author}}</strong>

		{%if author == "Jamie Foley"%}
		 was raised in the American South on a steady diet of <a href="http://www.quackwatch.com/01QuackeryRelatedTopics/PhonyAds/silverad.html" target="_blank" class="external-link">colloidal silver</a>, cryptozoology, and conspiracy theories. His contrarian curiosity and early passion for science eventually led him to skepticism and rationalism. He now makes his home in Oakland, California as he works on furthering his education and pursuing his interest in biotechnology and genetic engineering. A vegan for a decade, he enjoys exploring the intersections between science, animal rights, and social justice.</p>
		 <p>Jamie blogs at <a href="http://skepticalvegan.com/" class="external-link" target="_blank">skepticalvegan.com</a> and tweets as <a href="https://twitter.com/skepticalvegan" target="_blank" class="external-link">@skepticalvegan</a>.
		{% elsif author == "Rebecca Fox" %}
		is as likely to be found meditating and burning incense as she is in an academic library, and yet is a passionate atheist and a skeptic. Her artistic career is fuelled primarily by ingestion of soy lattes. Her artwork can be found at <a href="http://rebeccaoncanvas.com" target="_blank" class="external-link">rebeccaoncanvas.com</a>. Her vegan and skeptic activism is fuelled by critical thinking and compassion.
		{% elsif author == "Rob Johnson" %}
		is a British ethicist, editor of <a href="http://theabolitionist.info/" target="_blank" class="external-link">The Abolitionist</a> and author of the book <a href="http://www.robertjohnson.org.uk/" target="_blank" class="external-link">Rational Morality: A Science of Right and Wrong</a>.
		{% elsif author == "James Funston" %}
		is an undergraduate student at Portland State pursuing a dual major in Psychology and Philosophy. His academic interests lie in the fields of cognitive science, ethics, and philosophy of science. He <a href="http://fundaimonic.wordpress.com/" target="_blank" class="external-link">blogs</a> about science, skepticism, philosophy, veganism, atheism, and punk rock.
		{% elsif author == "Rob Johnson" %}
		is a British ethicist, editor of <a href="http://theabolitionist.info/" target="_blank" class="external-link">The Abolitionist</a> and author of the book <a href="http://www.robertjohnson.org.uk/" target="_blank" class="external-link">Rational Morality: A Science of Right and Wrong</a>.
		{% elsif author == "Paul M Fox" %}
		is a <a href="http://yourheropaul.com" class="external-link" target="_blank">computer scientist</a>, golf poseur and <a href="http://yourheropaul.com/#tech" class="external-link" target="_blank">amateur statistican</a>. He is a vegan activist, <a href="http://golang.org" class="external-link" target="_blank">Go programmer</a>, electric unicycle enthusiast, and a court-certified expert on the Predator movies. One of these things is not true.
		{% elsif author == "The Rational Vegan" %}
		is the pseudo-anonymous amateur philosopher and would-be humorist responsible for <a href="https://www.facebook.com/therationalvegan" class="external-link" target="_blank">The Rational Vegan Facebook page</a> – a look at veganism and the vegan community from a rationalist perspective.
        {% elsif author == "Ginny Kisch Messina" %}
        is a registered dietitian, the author of several vegan nutrition texts including her informative blog <a href="http://www.theveganrd.com/" class="external-link" target="_blank">theveganrd.com</a>. Her background working in public health and education informs her current work, which focuses on providing reliable nutrition advice to help people go - and stay - vegan. She is an aspiring pianist which doubtlessly delights her rescued cats.
        {% elsif author == "John Ward" %}
        is a vegan skeptic studying psychology and how to make the perfect tofu omelette, often simultaneously. His atheism leads him to be particularly concerned with social justice issues and ensuring that people are able to make the most of their limited human existence. He is not interested in seeing pictures of your cats but will feign polite interest. Follow him on twitter <a href="http://twitter.com/JonniWard" class="external-link" target="_blank">@JonniWard</a>
        {% elsif author == "Pythagorean Crank" %}
        is a vegan apostate who stopped using animal products in 1999 and, after being involved in several vegan groups and projects, became disillusioned with vegan culture. Though his blog is a venue for 'cranking', he maintains a 'dyed in the cotton' belief that the majority of all people are genuinely good.
        {% elsif author == "Tobias Leenaert" %}
        is <em>the</em> reasonable vegan. He presents his musings, philosophy and arguments on his blog <a href="http://vegetarianfuture.blogspot.co.uk" class="external-link" target="_blank">The Reasonable Vegan</a>, writes a monthly column for <a href="http://www.no.be" class="external-link" target="_blank">www.no.be</a> and is the director of Ethical Vegetarian Alternative. When not busy writing he can be found in his native Dutch habitat.
        {% elsif author == "James Southwood" %}
        wades deep into sports psychology and existentialism on his blog <a href="http://www.dyingtowin.net" class="external-link" target="_blank">www.DyingToWin.net</a> and is a World Champion of Savate (French kickboxing). He studied maths and philosophy of science and continues to grapple with the unlikely bedfellows of rationalism, veganism and psychoanalysis.
        {% elsif author == "Al Nowatzki" %}
        is a city person who hails from small-town folk. He recently became an early childhood educator after being a stay-at-home dad (early childhood educator of the unpaid sort) for eight years. His essay "Vegan Parenting: Navigating and Negating Speciesist Media" appears in the 2013 anthology, Confronting Animal Exploitation. More recently, he penned the foreword for Kim Socha's book, Atheism and Animal Liberation: Dismantling the Procrustean Bed. Also, he has a healthy obsession with Star Wars
        {% else %}
		is the author of this article
		{%endif%}
		</p>
	</div>
{% endif %}
