<div class="sharing component">
	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=rvgn_org"><span class="icon icon-2x icon-twitter"></span></a>
    <a class="social-share" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><span class="icon icon-2x icon-facebook"></span></a>
    <a class="social-share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><span class="icon icon-2x icon-googleplus"></span></a>
</div>
