{% if site.fixed_navigation %}
<div class="sticky" data-options="">
{% endif %}
  <nav class="top-bar" data-topbar data-options="scrolltop:false;">

    <ul class="title-area">
        <li class="name">
            <div class="main-identity">
                <a href="{{ root_url }}/"><span class="icon icon-push icon-logo-small"></span> <span class="branding"><span>R</span>vgn</span></a>
            </div>
        </li>
       <li class="toggle-topbar menu"><a href="#"><span>Menu <i class="fa fa-navicon"></i></span></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="main-navigation right">
          <li class="show-for-small-only"><a href="/"><i class="fa fa-home"></i> Home</a></li>
            {% for item in site.categories %}
          <li class="show-for-small-only"><a href="/category/{{ item[0] | to_url }}/"><i class="fa fa-leaf"></i> {{ item[0] | capitalize }}</a></li>
            {% endfor %}
          <li><a href="/about"><i class="fa fa-info-circle fa-fw"></i><span> About us</span></a><li>
          <li><a href="/contribute"><i class="fa fa-file-text fa-fw"></i><span> Contribute</span></a></li>
          <li><a href="/links"><i class="fa fa-star fa-fw"></i><span> Links</span></a></li>
          <li class="show-for-large-up"><a href="https://www.facebook.com/vegansforreasonandscience/info"><i class="fa fa-facebook fa-fw"></i><span> Facebook</span></a></li>
          <li class="show-for-large-up"><a><i class="fa fa-twitter fa-fw"></i><span> Twitter</span></a></li>
          <li><a href="/atom.xml"><i class="fa fa-rss fa-fw"></i><span> RSS feed</span></a></li>
      </ul>

    </section>
  </nav>
{% if site.fixed_navigation %}
</div>
{% endif %}