article.index {

	margin-bottom: 1.4em;
	padding-bottom: 1em;
	border-bottom: 1px solid #efefef;

	h1, h2 {
		font-size: 1.2em;
		line-height: 1.1em;	
	    font-weight: bold;
	    margin-bottom: 0px;
	}

	@media #{$medium-only} { 
		height: 540px;
	}

	@media #{$medium-up} { 
		&.small {
			height: 540px;
		}
	}

	@media #{$large-up} { 
		h1 {
			font-size: 1.8em;
		}

		h2 {
			font-size: 1.4em;
		}
	}

	.author {
		font-weight: normal;
	}

	.meta {
		font-weight: lighter;
	}

	img {
		margin-top: 0.5em;
		margin-bottom: 1em;

		width: 100%;
	}

	.button {
		margin-top: 1em;
		margin-bottom: 0px;
	}

	p {
		text-align: justify;
	}

    blockquote {
        p {
            color: #333 !important;
            font-weight: lighter !important;
            font-style: italic;
        }
    }
}
