@import "tooltips";

article.post {
	header {
		text-align: center;
		margin-bottom: 2em;
		position: relative;
		width: 100%;
		padding: 1em 0;
		overflow: hidden;
		background-color: $light-grey;

		canvas {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    opacity: 0;

		    &.fade-in {
		    	opacity: 1;
			    transition: opacity 1s ease-out 0s;
		    }
	    }

	    .row {
	    	position: relative;
		    z-index: 2;
	    }

		h1 {
			line-height: 1.1em;
			color: white;
		}

		img {
			margin-bottom: 2em;
			border: 2px solid rgba(white, 0.8);
		}

		.meta {
			color: rgba(white, 0.8);
			font-weight: lighter;

			a {
				color: $secondary-color;

				&:hover {
					color: white;
				}
			}
		}

		.categories {
			color: transparent;

			a {
				@include label(

				    // This options sets label padding
				    $padding:7px 16px 9px,
				    // This option sets label text-size
				    $text-size: 0.8em,
				    // This option sets label background-color
				    $bg: rgba(black, 0.5),
				    // This option sets the radius of the label
				    $radius:4px
			    );

			    color: $secondary-color;

			    &:hover {
					color: white;
				}
			}
		}

		.sharing {

			margin-top: 1.5em;
			margin-bottom: 0.5em;

			a {
				color: $secondary-color;
				margin: 0 0.25em;

				&:hover {
					color: white;
				}
			}
		}
	}

	.article-navigation {
		margin-bottom: 2em;
		border-top: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
		height: 2.5em;

		a {
			margin-top: 0.6em;
		}
	}

	.entry-content {

		h2 {
			font-size: 1.125rem;
			font-weight: normal;
		}

		blockquote p, blockquote li {
			color: $body-font-color;
			font-weight: lighter;
		} 

		a {
			&.footnote {
				vertical-align: super;
				font-size: 0.63em;
			    font-weight: bold;
			    margin-top: -60px;
				padding-top: 60px;
			}
		}

		p.figure {			
			background-color: #f2f2f2;
			text-align: center;

			table {
				margin-bottom: 0px;
			}

			div {
				text-align: right !important;
				background-color: white;

				em {
					line-height: 0.8em;
				}

				a.button {
					margin-top: 0.5em;
				}
			}
		}

		// Tables

		table th { font-weight: bold; }
		table td, table th { padding: 9px 10px; text-align: left; }

		@media only screen and (max-width: 767px) {
			
			table.responsive { margin-bottom: 0; }
			
			.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
			.pinned table { border-right: none; border-left: none; width: 100%; }
			.pinned table th, .pinned table td { white-space: nowrap; }
			.pinned td:last-child { border-bottom: 0; }
			
			div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
			div.table-wrapper div.scrollable { margin-left: 35%; }
			div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
			
			table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
			table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
		}
	}

	.author-bio {
		background-color: #fafafa;
		padding: 1.5em 1.0em 0.5em 1.5em;
		height: auto;
		line-height: 1.2em;
		font-weight: lighter;

		img {
			float: left;
			margin-right: 20px;
		}

		p {
			clear: left;
		}
	}

	.component {
		margin-bottom: 2em;
		margin-top: 2em;
	}

	.sharing {
		margin-top: 1em;
		text-align: center;

		a {
			margin: 0 0.25em;
		}
	}

	footer {
		a.accordion-control {
			@include label(
			    $padding: 7px 10px 9px,
			    $text-size: 0.7em,
			    $bg: rgba(black, 0.25),
			    $radius:8px
		    );

		    position: relative;
		    top: -3px;
		    margin-left: 10px;
		}

		p.accordion-tooltip {
			font-style: italic;
			margin-bottom: 2em;
		}
	}

	#footnotes {
		li {
			margin-top: -60px;
			padding-top: 60px;

			a {
				word-wrap: break-word;
				-ms-word-break: break-all;

			     /* Be VERY careful with this, breaks normal words wh_erever */
			     word-break: break-all;

			     /* Non standard for webkit */
			     word-break: break-word;

				-webkit-hyphens: auto;
				-moz-hyphens: auto;
			    hyphens: auto;
			}
		}
	}
}
